# Node 
node_modules

# Build assets
public/build
public/index.html

# IDE
.alm
.vscode

# nodenv
.node-version

# prettier
.prettierrc

# memo
memo.md

# Environment variables
.env

# dist
src/cubismSDK/Framework/dist/
src/cubismSDK/Demo/dist/

src/firebase/firebase.js
